version: "3.9"

services:
  photomatic:
    build:
      context: . 
      dockerfile: Dockerfile
    container_name: photomatic_app
    network_mode: host
    volumes:
      # Persist logs and cache
      - ./docker:/app/instance
      # Persist photo storage
      - /mnt/Pennicloud/Home/Photos:/app/photo-storage
    environment:
      # Example environment variables (add your own as needed)
      FLASK_ENV: production
      PORT: 5050
    restart: unless-stopped
 # Override the default CMD in your Dockerfile
    command: python3 app/app.py --photos "/app/photo-storage" --port "5050"
