/* Background layers for crossfade */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(15px);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: -1;
}

.background.show {
  opacity: 0.5;
}
