/* Date/time overlay */
#datetime {
  position: absolute;
  bottom: 40px;
  right: 50px;
  text-align: right;
  color: white;
  z-index: 3;
}

#time {
  font-size: 4em;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 10px rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  text-transform: uppercase;
}

#date {
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 6px rgba(255, 255, 255, 0.5);
}
