/* Weather widget styles */
#weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: -20px;
  position: relative;
  z-index: 4;
}

/* Weather icon as DIV */
#weather-icon {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
  z-index: 5;
  filter: brightness(0) invert(1);
}

#weather-temp {
  font-size: 4em;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 8px rgba(255, 255, 255, 0.6);
}
