<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photomatic</title>

    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/background.css" />
    <link rel="stylesheet" href="/static/css/slideshow.css" />
    <link rel="stylesheet" href="/static/css/datetime.css" />
    <link rel="stylesheet" href="/static/css/weather.css" />
  </head>

  <body>
    <div id="background1" class="background"></div>
    <div id="background2" class="background"></div>

    <img id="slideshow" src="" alt="slideshow" />

    <div id="datetime">
      <div id="weather">
        <div id="weather-icon"></div>
        <div id="weather-temp"></div>
      </div>
      <div id="time"></div>
      <div id="date"></div>
    </div>

    <script type="module">
      import { initSlideshow } from '/static/js/slideshow.js';
      import { initDateTime } from '/static/js/datetime.js';
      import { initWeather } from '/static/js/weather.js';

      initSlideshow();
      initDateTime();
      initWeather();
    </script>
  </body>
</html>
